body
{
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p.intable
{
	margin: 0px;
	display: inline;
}

p.reward
{
	margin: 0px;
	display: inline;
	color: red;
	font-size: 120%;
}

table, th, td 
{
	border: 0px solid;
}

table.instructions
{
	width: 300px;
	<!--min-height: 280px;-->
	<!--background-color: #F6CEF5;-->
}

table.stats
{
	width: 300px;
	<!--min-height: 280px;-->
	<!--background-color: #F6CEF5;-->
}

td
{
	padding: 3%;
	vertical-align: middle;
	text-align: justify;
}

td.index
{
	padding: 2px;
	width: 30px;
	text-align: center;
}

th.thHeight
{
	height: 70px;
	background-color: #F2F2F2;
}

.container
{
	width: 1000px;
	min-width: 1000px;
	
	height: 400px;
	min-height: 400px;
	
	margin-left: auto;
	margin-right: auto;
	<!--background-color: #E6E6E6;-->
}

.unmasked
{
	display: none;
	<!--visibility: hidden;-->
}

.footer
{
	font-style: italic;
	font-size: 90%;
	width: 400px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#leftContainer
{
	<!--background-color: #A9A9F5;-->
	width: 300px;
	float: left;
	margin-right: auto;
}

#rightContainer
{
	<!--background-color: #F5D0A9;-->
	width: 300px;
	float: right;
	margin-left: auto;
}

#bottomContainer
{
	width: 400px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#gameContainer {
	height: 280px;
	width: 280px;
	margin-top: 10%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

#mask
{
	visibility: visible;
}

a#nounderline
{
	text-decoration: none;
}

#reload
{
	background-color: #F2F2F2;
	font-style: none;
	text-align: center;
	padding: 5px;
}

#reload:hover
{
	color: red;
}